# oviphone em55 2G modem
#	chmod 0751 /system/etc/ppp/call-pppd
#	chmod 0751 /system/etc/ppp/ip-up
#	chmod 0751 /system/etc/ppp/ip-down
#	chown radio system /system/etc/ppp/call-pppd
#	chown radio system /system/etc/ppp/ip-up
#	chown radio system /system/etc/ppp/ip-down
#	chmod 755 /system/bin/gsmMuxd
#	chmod 755 /system/bin/mux.d
#	chmod 755 /system/etc/init.gprs-pppd

service gsmmux /system/xbin/mux.d
	class main
	user root
	oneshot

service pppd_gprs /system/etc/ppp/init.gprs-pppd
	class main
	user root
	group radio cache inet misc
	disabled
	oneshot

service ril-daemon /system/bin/rild -l /system/lib/libsoftwinner-ril-oviphone-em55.so -- -d /dev/mux2 -u /dev/mux0
	class main
	socket rild stream 660 root radio
	socket rild-debug stream 660 radio system
	user root
	group radio cache inet misc audio sdcard_rw log
